<?php
use Incube\Config,
    Incube\Resource,
    Doctrine\ODM\MongoDB\Mapping\Driver\AnnotationDriver,
    Incube\DataObject;

class Bootstrap extends Resource {

    protected function init_args() {
        $argv = $this->_load('argv');
        $args = array();
        foreach($argv as $a) if(preg_match('#^\w+$#', $a)) $args[] = $a;
        return $args;
    }

    public function init_config() {

        $options = $this->_load('options');

        // Init config loader and load configs
        $config_loader = new Config();
        if(!file_exists($options['config'])) trigger_error('Config folder: "' . $options['config'] . '" does not exists.', E_USER_ERROR);
        //$configs = $config_loader->load_by_folder($options['config'], true);
        $config = $config_loader->load($options['config'], true);

        //$result = array();
        //foreach($configs->to_array() as $k => $config) { $result[$k] = $config[ENV]; }
        //return DataObject::array_to_data_object($result);

        $config = $config[$options['environment']];
        return DataObject::array_to_data_object($config);

    }


    public function init_orm() {
        // Init Doctrine ORM
        //$config = $this->_load('configs')->get('db')->get('orm');
        $config = $this->_load('config')->get('orm');

        $ORMOptions = Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration($config->get('options')->to_array(), true);
        return Doctrine\ORM\EntityManager::create($config->get('connection')->to_array(), $ORMOptions);
    }

    public function init_odm() {
        // Init Doctrine ODM
        //$config = $this->_load('configs')->get('db')->get('odm');
        $config = $this->_load('config')->get('odm');

        $ODMConfig = new \Doctrine\ODM\MongoDB\Configuration();
        if($config->has('options')) {
            foreach ( $config->get('options')->to_array() as $key => $value) {
                $ODMConfig->{"set" . ucfirst($key)}($value);
            }
        }

        $reader = new \Doctrine\Common\Annotations\SimpleAnnotationReader();
        $reader->addNamespace($config->get('reader_namespace'));
        AnnotationDriver::registerAnnotationClasses();

        $driver = new AnnotationDriver($reader, $config->get('documents_path'));
        if($config->has('driver')) {
            foreach ($config->get('driver')->to_array() as $key => $value) { $driver->{"set" . ucfirst($key)}($value); }
        }
        $ODMConfig->setMetadataDriverImpl($driver);

        if($config->get('connection')->has('options')) {
            if($config->get('connection')->get('options')->has('bool')) {
                foreach ($config->get('connection')->get('options')->get('bool') as $key => $option) { 
                    $config->get('connection')->get('options')->set($key, (bool) $option); 
                }
                unset($config->connection->options->bool);
            }
        }
        $connectionOptions = ($config->get( 'connection' )->get( 'options' )) ? $config->get( 'connection' )->get( 'options' )->to_array() : array();
        $connection = new \Doctrine\MongoDB\Connection($config->get('connection')->get('server' ), $connectionOptions);

        return Doctrine\ODM\MongoDB\DocumentManager::create($connection, $ODMConfig);
    }

    public function init_event_manager() {

        $manager = new \Incube\Event\EventManager();
        $fsIterator = new FilesystemIterator(ROOT_PATH .'/app/Services/Listeners');
        foreach( $fsIterator as $fileInfo){
            list($fileName,$ext) = explode('.',$fileInfo->getFileName());
            if($fileInfo->isFile() && $ext == 'php') {
                $listenerClassName = '\Services\Listeners\\'. $fileName;
                foreach($listenerClassName::getEvents() as $namespace => $event) {
                    foreach($event as $eventName => $callableNames) {
                        $manager->attach(array($namespace, $eventName), array($listenerClassName, $callableNames));
                    }
                }
            }
        }
        return $manager;
    }

    public function init_version() {
        // Storing verions in File
        //$options = $this->_load('options');
        //$version = new \VersionManager\File($options['migration']);

        // Storing version in doctrineOrm
        $config = $this->_load('config')->to_array();
        $version = new \VersionManager\DoctrineOrm($config);
        return $version;
    }

}
